<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <SCRIPT type="text/javascript">

    </SCRIPT>
    <link rel="stylesheet" href="style.css">

    <title>Login</title>
</head>
<body onload="noBack">
<div class="loginbox">
    <h1>Login</h1>
    <form method="POST" action="/student/login">
        <p>Username</p>
        <input type="text" name="username" placeholder="Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Password" maxlength="15" minlength="3">
        <p></p>
        <input type="submit" name="" value="login">
    </form>
</div>
</body>
</html>
</html>

