<!DOCTYPE html>
<html lang="en">            
<head>
    <link rel="stylesheet" href="../assets/css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cassiopeia School</title>
</head>
<body>
    <div>
        <ul id="nav">
            <li class="nav"><a class="active" href="/home">Home</a></li>
            <li class="nav"><a href="/SignUp">SignUp</a></li>
            <li class="nav"><a href="/Login">Login</a></li>
          </ul>
    </div>
    <img src="../assets/img/seven.jpg" alt="img" id="mainImage">
    <div id="overImage">
        <h1 id="mainTitle">Cassiopeia</h1>
        <h3 id="subTitle">School Management</h3>
    </div>

    <div id="content">
        <div class="subContent">
            <h1>Mission</h1>
            <img src="../assets/img/a.jpg" class="inside" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
                 et odit debitis architecto voluptas nemo vero unde commodi delectus. 
                Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
                et odit debitis architecto voluptas nemo vero unde commodi delectus. 
               Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
               et odit debitis architecto voluptas nemo vero unde commodi delectus. 
              Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
              et odit debitis architecto voluptas nemo vero unde commodi delectus. 
             Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae </p>

        </div>

        <div class="subContent">
            <h1>Vision</h1>
            <img src="../assets/img/four.jpg" class="inside" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
                et odit debitis architecto voluptas nemo vero unde commodi delectus. 
               Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure.
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
               et odit debitis architecto voluptas nemo vero unde commodi delectus. 
              Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
              et odit debitis architecto voluptas nemo vero unde commodi delectus. 
             Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
             et odit debitis architecto voluptas nemo vero unde commodi delectus. 
            Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae </p>
               
        </div>

        <div class="subContent">
            <h1>Goals</h1>
            <img src="../assets/img/three.jpg" class="inside" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
                et odit debitis architecto voluptas nemo vero unde commodi delectus. 
               Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure.
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
               et odit debitis architecto voluptas nemo vero unde commodi delectus. 
              Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
              et odit debitis architecto voluptas nemo vero unde commodi delectus. 
             Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae iure
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
             et odit debitis architecto voluptas nemo vero unde commodi delectus. 
            Dolor explicabo id dicta ipsum inventore aliquam culpa, corporis quae </p>
               
        </div>
    </div>

    <footer id="footer">
        <div>
            <ul>
                <li><p>Contact: <a href="">+251-919-813-323</a></p></li>
                <li><p>Email: <a href="">Cassiopeia@gmail.com</a></p></li>
                <li><p>Street Address: King George IV</p></li>
                <li><p>© 2019</p></li>
            </ul>
        </div>
    </footer>
</body>
</html>

