<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>registration</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/jquery-3.2.1.slim.min.js"></script>
</head>
<body>
 
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Profile</h2>
        </div>
        <div class="pt-3 pb-2 mb-3">
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">User Name</th>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>

             
              </tr>
            </thead>
            <tbody>
                {{ range . }}
              <tr>
                <td> {{ .UserName }} </td>>
                <td> {{ .FirstName }} </td>
                <td> {{ .LastName }} </td>
                <td> {{ .Email }} </td>
                </tr>
                {{end}}
              </tbody>
              </table>
    </main>
    

</body>
</html>