body{
	margin:0;
	padding:0;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(five.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.loginbox{
	width: 320px;
	height: 420px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    color: #fff;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px;
    border-radius: 20px;
}
h1{
	margin:0;
	padding: 0 0 20px;
	top:10%;
	text-align: center;
	font-family: cursive;
	font-size: 22px;
}
.loginbox p{
	margin:0;
	padding: 0;
	font-weight: bold;
	font-family: sans-serif;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
}
.loginbox  input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	border-radius: 20px;
	font-size: 15px;
	font-weight: bolder;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #000;
	color: #fff;
	border-color: #fb2525;
}
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
	font-family: sans-serif;
}
.loginbox a:hover{
	color:#fff;
}
/*
sign up box css
*/
.signup{
width: 350px;
	height: 650px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    color: #fff;
    top:55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
}
h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-family: cursive;
	font-size: 22px;
}
.signup p{      
	margin:0;
	padding: 0;
	font-weight: bold;
	font-family: sans-serif;
}
.signup input{
	width: 100%;
	margin-bottom: 20px;
}
.signup input[type="text"],input[type="password"],input[type="email"]{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
}
.signup input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	border-radius: 20px;
	font-size: 15px;
	font-weight: bolder;
}
.signup input[type="submit"]:hover{
	cursor: pointer;
	background: #000;
	color: #fff;
	border-color: #fb2525;
}
.signup code{
	background: transparent;
	color: #fff;
	border: none;
}