body{
    margin:0;
    padding:0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(five.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#containerForm{
     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 850px;
    width: 650px;
    border-radius: 50px;
    box-sizing: border-box;
    padding-top: 5px;
    opacity: 67%;



}

#titulo{
    width: 80%;
    height: 50px;
    background: ;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    
}

#div_titulo{
    width: 350px;
    height: inherit;
    background:;
    font-size: 40px;
    text-align: center;
    
}

#inputs{
    height: 700px;
    border-bottom: solid 1px;
    width: inherit;
    margin-bottom: 8px;
    background: repeat;
}

.caixa_input_nome{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 5px;
    float: left;
    margin-left: 125px;
}

#linha1inputs{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 5px;
    
    margin-left: 125px;
}

.caixa_input_telefone{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

.caixa_input_celular{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 0px;
    margin-bottom: 5px;
}

#sltNivel{
   border-radius: 50px;
}

#caixa_input_email{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 10px;
}

#caixa_input_estado{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 10px;
}

#caixa_input_cidade{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 10px;
}

#caixa_input_cep{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 10px;
}

#caixa_input_idioma{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 10px;
}

#caixa_input_nivel{
    width: 400px;
    background: ;
    height: 40px;
    margin-bottom: 10px;
}

.caixa_input_formacao{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 10px;
}

#caixa_input_habilidades{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 10px;
}

.caixa_input_link{
    width: 400px;
    background: ;
    height: 70px;
    margin-bottom: 10px;
}

#linhaFormacao{
    width: inherit;
    background: ;
    height: 80px;
    margin-bottom: 10px;
}

.nome_input{
    height: inherit;
    width: 100px;
    background: ;
    float: left;
    font-size: 19px;
    text-align:center;
    box-sizing: border-box;
    padding-top: 4px;
    margin-left: 150px;
}

#nome_input_formacao{
    height: inherit;
    width: 100px;
    background: ;
    float: left;
    font-size: 19px;
    text-align:center;
    box-sizing: border-box;
    padding-top: 25px;
    margin-left: 150px;
}

.campo_input{
    width: 250px;
    background:;
    height: inherit;
    box-sizing: border-box;
    padding-top: 4px;
    float: left;
}

#input_formacao{
    width: 250px;
    background:;
    height: inherit;
    box-sizing: border-box;
    padding-top: 4px;
    float: left;
}

#btnCadastrar{
    background:;
    height: 30px;
    width:120px;
    margin-left: auto;
}

#btnCadastro{
    background:#007bff;
    color: white;
    border: 0px;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    padding-top: 2px;
    
}

#btnCadastro:hover{
    
    background:#0159b6;
   
}

#txtFormacao{
    height: 60px;
    resize: none;
}

/**********************************/

.container 		{ 
    font-family:'Roboto';
    width:600px; 
    margin:30px auto 0; 
    display:block; 
    background:#FFF;
    padding:10px 50px 50px;
  }
  h2 		 { 
    text-align:center; 
    margin-bottom:50px; 
  }
  h2 small { 
    font-weight:normal; 
    color:#888; 
    display:block; 
  }
  .footer 	{ text-align:center; }
  .footer a  { color:#53B2C8; }
  
  /* form starting stylings ------------------------------- */
  .group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label	{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  